<template>
    <div>
        <banner></banner>
        <div id="error">
        Oops! An error has occurred please return to the <span id="link" v-on:click="toHome">HomePage</span>
        </div>
    </div>
</template>

<script>
  import banner from '@/components/header';
export default {
        components:{
      banner
    },
    methods:{
        toHome:function() {
            this.$router.push("/")
            location.reload();
        }
    }
        }
</script>

<style scoped>
#error{position:absolute;
top:20%;
left:50%;
transform:translateX(-50%)}
#link{
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}
</style>