<template>
    <div id="main">
        <div id="home"   v-on:click="toHome">Home</div>
        <div id="data"   v-on:click="toData">Data</div>
        <div id="login" v-on:click="login">{{display}}</div>
        <div id="logout" v-on:click="logout">LogOut</div>
    </div>
</template>

<script>
export default {
    data() {
      return{};
      },
      computed:{
          display:function(){
              if (this.$store.getters.getlogged)
                return this.$store.getters.getuser;
                return "LogIn"
          }
      },
      methods:{
        logout:function() {
            localStorage.setItem("fun-user","") 
            this.$store.commit("setlogged",false);
            this.$router.push("/")
            location.reload();
          },
        login:function() {
            this.$store.commit("setlog",true);
        },
        toData:function(){
            if (localStorage.getItem("fun-user"))
                this.$router.push("/userdata");
            else
                this.$store.commit("setlog",true);
        },
        toHome:function(){
            this.$router.push("/")
          }
      }
}
</script>
<style scoped>
#main{position:absolute;
top:0px;
min-height:10%;
width:100%;
background-color:black;
color:white;
display:flex;
flex-direction:row;
align-items:center;
}
#logout{position:absolute;
right:10px;
cursor:pointer;}
#login{position:absolute;
right:90px;
cursor:pointer;}
#data{position:absolute;
left:50%;
cursor:pointer;
transform:translateX(-50%)}
#home{position:absolute;
cursor:pointer;
left:10px;}
</style>