<template>
  <div>
    <banner></banner>
    <div id="mainDiv">
      <img :src="url" id="dispImg">
      <br><br>
      <div id="lcount">{{likes}}</div>
      <div id="like" v-on:click="updateStatus('like')" :class="{liked: like}">
        <img src="../assets/like.png" id="likeImg">
      </div>
      <div id="dcount">{{dislikes}}</div>
      <div id="dislike" v-on:click="updateStatus('dislike')" :class="{disliked: dislike}">
        <img src="../assets/dislike.png" id="dislikeImg">
      </div>
    </div>

    <div id="right" v-on:click="nextImg"><img src="../assets/next.png" id="next"></div>
    <div id="left" v-on:click="prevsImg"><img src="../assets/back.png" id="back"></div>



<!-- start of login code-->
    <div id="overlay" v-if="overlay"></div>
    <div id="logpage" v-if="overlay"> 
      <img src="../assets/close.svg" id="closebutton" v-on:click="closeoverlay">
      <div id="logintab"  v-if="showsignin">  
        <label class="lab">Username:</label><br>
        <br>
        <input type="text" v-model="inname"><br>
        <br>
        <label class="lab">Password:</label><br>
        <br>
        <input type="password" v-model="inpass">
        <br>
        <br>
        <button id="loginbutton" v-on:click="loguser">Log In</button>
        <p class="txt">Don't have an account? <br>
          Click <span class="link" v-on:click="switchtab">here</span> to register<br>
          <span class="failed" v-if="logfailed">Invalid Details</span>
        </p>
      </div>

      <div id="signuptab" v-if="showsignup"> 
        <label class="lab">Username:</label><br>
        <br>
        <input type="text" v-model="upname"><br>
        <br>
        <label class="lab">Password:</label><br>
        <br>
        <input type="password" v-model="uppass"><br>
        <br>
        <label class="lab">Email:</label><br>
        <br>
        <input type="text" v-model="email"><br>
        <br>
        <br>
        <button id="loginbutton" v-on:click="createuser">Sign Up</button>
        <p class="txt">Already have an account? <br>
          Click <span class="link" v-on:click="switchtab">here</span> to Login<br>
          <span class="failed" v-if="failed">User Already Exists</span>
          <span class="failed" v-if="failed2">Invalid Data</span> 
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  var img1=new Image();
  var img2=new Image();
  import banner from '@/components/header';
  const axios = require('axios');
  export default {
    components:{
      banner
    },
    data() {
      return{
        showsignin:true,
        showsignup:false,
        failed:false,
        failed2:false,
        logfailed:false,
        upname:"",
        uppass:"",
        email:"",
        inname:"",
        inpass:"",
        loggedIn:false,
        user:"",
        url:"",
        id:1,
        status:"",
        likes:0,
        dislikes:0,
      };
    },
    computed:{
      like:function(){
        if (this.status=="like")
        return true;
        return false;
      },
      dislike:function(){
        if (this.status=="dislike")
        return true;
        return false;
      },
      overlay:function(){
        return this.$store.getters.getlog
      }
    },
    mounted:function(){
      if (localStorage.getItem("fun-user")) {
        this.loggedIn=true;
        this.$store.commit("setlogged",true);
        this.user=localStorage.getItem("fun-user");
        this.$store.commit("setuser",this.user);
        this.getPosition();
      }else this.showimg();
    },
    methods:{
      showimg:function(){
        var that=this;
        axios.get('https://xkcd.com/'+that.id+'/info.0.json').then(function (response) {
          if (response.data=="error"){
            that.$router.push("/error")
          }else {
          that.url=response.data.img;
          if (that.loggedIn)
            that.getstatus();
          that.getCount();
          }
        }).catch(function (error) {
          that.$router.push("/error")
        })
      },
      getstatus:function(){
        var that=this;
        axios({
          method: 'post',
          url: 'http://localhost:8888/getstatus',
          data: {
            username: this.user,
            id: this.id,
          },
          headers: {
            'Content-Type': 'application/json'
          },
        }).then(function (response) {
           if (response.data=="error"){
            that.$router.push("/error")
          }else if (response.data=="like")
          that.status="like";
          else if (response.data=="dislike")
          that.status="dislike";
        }).catch(function (error) {
            that.$router.push("/error")
        });
      },
      nextImg:function(){
        if (this.loggedIn && this.id!=2000){
          this.id++;
          this.showimg();
          this.status="";
          this.updateCurrent();
        }else this.$store.commit("setlog",true);
      },
      prevsImg:function(){
        if (this.loggedIn && this.id!=1){
          this.id--;
          this.showimg();
          this.status="";
          this.updateCurrent();
        }else this.$store.commit("setlog",true);
      },
      updateCurrent:function(){
        var that=this;
        axios({
          method: 'post',
          url: 'http://localhost:8888/inc',
          data: {
            username: this.user,
            pos: this.id,
          },
          headers: {
            'Content-Type': 'application/json'
          },
        }).then(function (response) {
           if (response.data=="error"){
            that.$router.push("/error")
          }
        }).catch(function (error) {
            that.$router.push("/error")
        });
        
      },
      updateStatus:function(stat){
        var that=this;
        if (!this.loggedIn)
          this.$store.commit("setlog",true);
        else {
          var action;
          if (this.status==stat){
            this.status="";
            action="sub"
          }else if (this.status==""){
            this.status=stat;
            action="add"
            }
            else{
              this.status=stat;
              action="change"
            }
            var that=this;
            axios({
              method: 'post',
              url: 'http://localhost:8888/status',
              data: {
                username: this.user,
                id: this.id,
                status:stat
              },
              headers: {
                'Content-Type': 'application/json'
              },
            }).then(function (response) {
               if (response.data=="error"){
                that.$router.push("/error")
              }else
                that.getCount(action,stat);
            }).catch(function (error) {
                that.$router.push("/error")
            });
          
        }
      },
      getCount:function(action,status){
        var that=this;
        axios({
        method: 'post',
        url: 'http://localhost:8888/getcount',
        data: {
          id: this.id,
          action:action,
          status:status
        },
        headers: {
          'Content-Type': 'application/json'
        },
        }).then(function (response) {
           if (response.data=="error"){
            that.$router.push("/error")
          }else {
            that.likes=response.data["like"]
            that.dislikes=response.data["dislike"]
          }
        }).catch(function (error) {
            that.$router.push("/error")
        });
      },
      getPosition:function(){
        var that=this;
        axios({
        method: 'post',
        url: 'http://localhost:8888/getpos',
        data: {
          username: this.user,
        },
        headers: {
          'Content-Type': 'application/json'
        },
        }).then(function (response) {
           if (response.data=="error"){
            that.$router.push("/error")
          }else {
            that.id=response.data;
            that.showimg();
          }
        }).catch(function (error) {
            that.$router.push("/error")
        });
      },
      switchtab:function(){
        this.showsignin=!this.showsignin;
        this.showsignup=!this.showsignup;
        this.upname="";
        this.uppass="";
        this.email="";
        this.inname="";
        this.inpass="";
        this.logfailed=false;
      },
      loguser:function(){
        var that=this;
        axios({
          method: 'post',
          url: 'http://localhost:8888/login',
          data: {
            username: this.inname,
            password: this.inpass,
          },
          headers: {
            'Content-Type': 'application/json'
          },
        }).then(function (response) {
           if (response.data=="error"){
            that.$router.push("/error")
          }else if(response.data[0]=="success"){
              that.user=that.inname;
              that.loggedIn=true;
              that.$store.commit("setlogged",true);
              that.$store.commit("setuser",that.user);
              that.closeoverlay();
              that.logfailed=false;
              that.id=response.data[1];
              that.showimg();
              localStorage.setItem("fun-user", that.user);
            }else if(response.data=="invalid"){
              that.logfailed=true;
            }
        }).catch(function (error) {
            that.$router.push("/error")
        });
      },
      createuser:function(){
        var that=this;
        this.upname=this.upname.replace(/\s/g, '');
        this.email=this.email.replace(/\s/g, '');
        if (this.upname!="" && this.uppass!="" && this.email!=""){//check for spaces
          that.failed2=false;
          axios({
            method: 'post',
            url: 'http://localhost:8888/createuser',
            data: {
              username: this.upname,
              password: this.uppass,
              email: this.email
            },
            headers: {
              'Content-Type': 'application/json'
            },
          }).then(function (response) {
             if (response.data=="error"){
            that.$router.push("/error")
          }else if(response.data=="success"){
              that.switchtab();
              that.failed=false;
            }else if(response.data=="exists"){
              that.failed=true;
            }
          }).catch(function (error) {
              that.$router.push("/error")
          });
        }else that.failed2=true;
      },
      closeoverlay:function(){
        this.$store.commit("setlog",false);
      }
    }
  }
</script>


<style scoped>
.liked{
 background-color:green;
}
.disliked{
background-color:red ;
}
#likeImg{
  height:30px;
}
#dislikeImg{
  height:30px;
}
#like{
  cursor:pointer;
  text-align:center;
  height:35px;
  width:70px;
  border:3px solid green;
  display:inline-block;
  margin-right:10px;
}
#dislike{
  cursor:pointer;
  text-align:center;
  height:35px;
  width:70px;
  border:3px solid red;
  display:inline-block;
}
#lcount{
  display:inline-block;
  margin-right:5px;
  color:green;
  }
#dcount{
  display:inline-block; 
  margin-right:5px;
  color:red;
  }
#next{height:40px;}
#back{height:40px;}
#right{
  height:30%;
  width:50px;
  position:fixed;
  right:0px;
  top:30%;
  background-color:black;
  color:white;
  display:flex;
  align-items:center;
  opacity:0.5;
  cursor:pointer;
}
#left{
  height:30%;
  width:50px;
  position:fixed;
  left:0px;
  top:30%;
  background-color:black;
  color:white;
  display:flex;
  align-items:center;
  opacity:0.5;
  cursor:pointer;
}
#left:hover{opacity:1}
#right:hover{opacity:1}
#mainDiv{
  max-width:70%;
  max-height:50%;
  position:absolute;
  top:20%;
  left:50%;
  transform:translateX(-50%);
}

#overlay{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  background-color:black;
  opacity:0.5;
}
#closebutton{
  width:2rem;
  height:2rem;
  position:absolute;
  right:0;
  border:1px solid white;
  cursor: pointer;
}
.txt{
  color:white;
  font-size: 0.81rem;
  letter-spacing: 0.1rem;
  line-height: 1rem;
}
.failed{color:red}
.link{
  color:blue !important;
  cursor: pointer;
  }
#logpage{
  background-color:black;
  position:absolute;
  width:20rem;
  height:30rem;
  left:50%;
  transform:translate(-50%);
  top:10%;
  border:0.1rem solid white;
  z-index:5;
}
#logintab{
  margin-left:4.5rem;
  margin-top:6rem;
}

#signuptab{
  margin-left:4.5rem;
  margin-top:2rem;
}
.lab{
  color:white !important;
  font-size:1.5rem;
}
#loginbutton{
  background-color:black;
  color:white;
  width:5rem;
  height:1.44rem;
  border: 0.06rem solid white;
  border-bottom:none;
  font-size: 0.81rem;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  cursor: pointer;
}

</style>
