<template>
    <div>
        <banner></banner>
        <div id="overlay" v-if="overlay" v-on:click="removeOverlay"></div>
        <img :src="url" id="dispImg" v-if="overlay">
        <div id="tables">
            <div id="user">{{user}}</div>
            <table>
                <tr>
                    <td colspan="2">Liked Images</td>
                </tr>
                <tr v-for="i in likesize" :key="i">
                    <td>{{likedIds[i-1]}}</td>
                    <td class="view" v-on:click="viewImg(likedIds[i-1])">View Image</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td colspan="2">Disliked Images</td>
                </tr>
                <tr v-for="j in dislikesize" :key="j">
                    <td>{{dislikedIds[j-1]}}</td>
                    <td class="view" v-on:click="viewImg(dislikedIds[j-1])">View Image</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
  const axios = require('axios');
  import banner from '@/components/header';
  export default {
    components:{
      banner
    },
    data() {
      return{
        likesize:0,
        likedIds:[],
        dislikesize:0,
        dislikedIds:[],
        obj:{},
        url:"",
        overlay:false,
        user:""
      };
    },
    mounted:function() {
      var that=this;
      var user=localStorage.getItem("fun-user");
      this.user=user;
      axios({
        method: 'post',
        url: 'http://localhost:8888/getimgs',
        data: {
          username: user,
        },
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(function (response) {
          that.obj=response.data;
          that.sortStatus();
      }).catch(function (error) {
          console.log(error);
      });
    },
    methods:{
      sortStatus:function(){
        var status=Object.keys(this.obj);
        for (var i=0;i<status.length;i++){
          if (this.obj[status[i]]=="like"){
            this.likesize++;
            this.likedIds.push(status[i])
          }else {
            this.dislikesize++;
            this.dislikedIds.push(status[i])  
          }
        }
      },
      viewImg:function(data){
        var that=this;
        axios.get('https://xkcd.com/'+data+'/info.0.json').then(function (response) {
          that.url=response.data.img;
          that.overlay=true;
        }).catch(function (error) {
          console.log(error);})
         },
      removeOverlay:function(){
        this.overlay=false;
         } 
    }
  }
</script>

<style scoped>
.view{
    text-decoration:underline;
    cursor:pointer;
}
#user{
font-size:100px;
}
#overlay{
  position:absolute;
  top:10%;
  left:0;
  height:100vh;
  width:100%;
  z-index:1;
  background-color:black;
  opacity:0.5;
}
#dispImg{
  position:absolute;
  top:15%;
  left:50%;
  transform:translateX(-50%);
  z-index:2
}
#tables{
  position:absolute;
  top:10%;
  left:70%;
  transform:translateX(-50%);
  width:100%;
  height:100%;
}
table {
    margin-top:10px;
    border-collapse: collapse;
    margin-bottom:20px;
    display:inline-block;
    margin-right:50px;
    vertical-align:top;
}
table, tr {
    border: 1px solid black;
}
tr{
    height:30px;
    text-align:center;
}
td{width:200px;}

</style>